// Główne kolory
$color-blue: hsl(231, 69%, 60%);
$color-blue-hover: hsl(231, 69%, 55%);
$color-blue-bg-hover: hsl(231, 69%, 95%);

$color-red: hsl(0, 94%, 66%);
$color-red-bg-hover: hsl(0, 94%, 95%);

// Neutralne kolory
$color-gray: hsl(227, 8%, 43%);
$color-gray-bg-hover: hsl(228, 14%, 93%);

$color-dark-blue: hsl(229, 31%, 21%)